venv/
.venv/
.idea/
build/
build*/
cmake-build-*/
**/__pycache__/
**/*.egg-info/
*.so
*.pyd
.dmypy.json
scratch.txt

.vscode/
.vs/
voiladoc/
venv_ci
.ipynb_checkpoints/
.mypy_cache

imgui.ini
.DS_Store
