venv/
venv*/
v3*/
.venv
.idea/
dist/
build/
build*/
build_ci/
cmake-build-*/
**/__pycache__/
**/*.egg-info/
*.so
*.pyd
.dmypy.json
scratch.txt
scratch/

.vscode/
.vs/
voiladoc/
venv_ci
.ipynb_checkpoints/
.mypy_cache

imgui.ini
.DS_Store
_pypi_token.txt
