black==23.11.0 ; python_version >= "3.8" and python_version < "4.0"
click==8.1.7 ; python_version >= "3.8" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.8" and python_version < "4.0" and platform_system == "Windows"
fire==0.5.0 ; python_version >= "3.8" and python_version < "4.0"
munch==4.0.0 ; python_version >= "3.8" and python_version < "4.0"
mypy-extensions==1.0.0 ; python_version >= "3.8" and python_version < "4.0"
packaging==23.2 ; python_version >= "3.8" and python_version < "4.0"
pathspec==0.11.2 ; python_version >= "3.8" and python_version < "4.0"
platformdirs==3.11.0 ; python_version >= "3.8" and python_version < "4.0"
pybind11==2.11.1 ; python_version >= "3.8" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.8" and python_version < "4.0"
termcolor==2.3.0 ; python_version >= "3.8" and python_version < "4.0"
tomli==2.0.1 ; python_version >= "3.8" and python_version < "3.11"
typing-extensions==4.8.0 ; python_version >= "3.8" and python_version < "3.11"
